{% extends "base.html" %}

{% block content %}
<style type="text/css">
#chart { width: 100%; height: 400px; }
</style>

<div id="chart">
</div>
<div style="text-align: center;">
	<input type="checkbox" id="show_up"> Show Upstream
	<input type="checkbox" checked=CHECKED id="show_down"> Show Downstream
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1.0', {'packages':['corechart']});

$(function() {
	var chart = null;
	
	function drawChart() {
		
		$.ajax({
			url: '{% url 'stats_data' %}',
			type: 'GET',
			dataType: 'json',
			data: {
				'show_up': $('#show_up').is(':checked'),
				'show_down': $('#show_down').is(':checked')
			},
			success: function(data) {
				var chart_data = google.visualization.arrayToDataTable(data);
				var options = {
					title: 'Usage (MB)',
					legend: { position: 'bottom' }
		        };
				if (chart === null) {
					chart = new google.visualization.LineChart(document.getElementById('chart'));
				}
				chart.draw(chart_data, options)
			}
		});
	}
	
	function refreshChart() {
		drawChart();
		setTimeout(function() {
			refreshChart();
		}, 60000);
	}
	refreshChart();
	
	$('input[type=checkbox]').change(function() {
		refreshChart();
	});
	
	$(window).resize(function() {
		$('#chart').height($(window).height()-40);
	});
	$(window).trigger('resize');
});
</script>
{% endblock %}
